/* add global properties  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

body {
  font-family: arial;
}

main {
  background-color: #202124;
  height: calc(100vh - 94px);
}

.main-header {
  padding: 10px 0px 0px;
}
.main-header .container {
  width: 97%;
  margin: auto;
}
.main-header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .container nav .theme-btn-container button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s all linear;
}
.main-header .container nav .theme-btn-container button:hover {
  box-shadow: 0 0 2px 5px rgba(232, 234, 237, 0.08);
}
.main-header .container nav .options {
  display: flex;
  align-items: center;
  gap: 25px;
}
.main-header .container nav .options .hyperlinks ul {
  display: flex;
  gap: 15px;
}
.main-header .container nav .options .hyperlinks ul a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 13px;
}
.main-header .container nav .options .hyperlinks ul a:hover {
  text-decoration: underline;
}
.main-header .container nav .options .dropdown-btns {
  display: flex;
  gap: 15px;
  align-items: center;
}
.main-header .container nav .options .dropdown-btns .profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all linear;
}
.main-header .container nav .options .dropdown-btns .profile-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-header .container nav .options .dropdown-btns .profile-img:hover {
  background-color: rgba(232, 234, 237, 0.08);
}
.main-header .container nav .options .dropdown-btns .products-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all linear;
}
.main-header .container nav .options .dropdown-btns .products-list svg {
  width: 25px;
  color: rgba(255, 255, 255, 0.87);
  fill: currentColor;
}
.main-header .container nav .options .dropdown-btns .products-list:hover {
  background-color: rgba(232, 234, 237, 0.08);
}

.search-sec {
  padding-top: 100px;
}
.search-sec .container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-sec .container .brand {
  margin-bottom: 30px;
}
.search-sec .container .brand img {
  display: block;
  margin: auto;
}
.search-sec .container .form-container {
  border-radius: 50px;
  border: 1px solid #5f6368;
  display: flex;
  justify-content: space-between;
  padding: 0px 13px;
  height: 48px;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.search-sec .container .form-container svg.search-icon {
  width: 20px;
  color: #5f6368;
  fill: currentColor;
}
.search-sec .container .form-container form {
  width: 80%;
}
.search-sec .container .form-container form input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
}
.search-sec .container .form-container .search-tools svg {
  width: 22px;
}
.search-sec .container .form-container:focus-within {
  background-color: #303134;
  border: 0;
  box-shadow: 0 1px 6px #171717;
}
.search-sec .container .search-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.search-sec .container .search-btns button {
  padding: 10px 15px;
  background-color: #303134;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 3px;
  border: 1px solid #303134;
  font-size: 15px;
  transition: 0.3s;
}
.search-sec .container .search-btns button:hover {
  border: 1px solid #5f6368;
}
.search-sec .container .lang-change p {
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
}
.search-sec .container .lang-change p a {
  color: #8ab4f8;
}
.search-sec .container .lang-change p a:hover {
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .search-sec .container {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .search-sec .container {
    width: 65%;
  }
}
@media (max-width: 767px) {
  .search-sec .container {
    width: 90%;
  }
  .search-sec .container .brand img {
    transform: scale(0.9);
  }
  .search-sec .container .form-container form {
    width: 70%;
  }
  .search-sec .container .form-container .search-tools svg {
    width: 18px;
  }
  .search-sec .container .search-btns button {
    font-size: 12px;
  }
}
.main-footer {
  background-color: #171717;
  height: 94px;
}
.main-footer .country {
  padding: 15px 2%;
}
.main-footer .country span {
  font-size: 15px;
  color: #999da2;
}
.main-footer hr {
  border-color: #5f6368;
}
.main-footer .footer-hyperlinks {
  display: flex;
  justify-content: space-between;
  padding: 13px 2%;
}
.main-footer .footer-hyperlinks ul {
  display: flex;
  gap: 20px;
}
.main-footer .footer-hyperlinks ul a {
  color: #999da2;
  font-size: 14px;
}
.main-footer .footer-hyperlinks ul a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  main {
    height: calc(100vh - 120px);
  }
  .main-footer {
    height: 120px;
  }
  .main-footer .country span {
    display: block;
    text-align: center;
  }
  .main-footer .footer-hyperlinks {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .main-footer .footer-hyperlinks ul {
    justify-content: center;
  }
  .main-footer .footer-hyperlinks ul a {
    font-size: 12px;
  }
}